# Redis connection URL
REDIS_URL=

# Web Push VAPID Keys
VAPID_PUBLIC_KEY=BLqju80Sl3cUDF0s-0pEallPIkVpxl-2l5NJMh-X2twNOmvTUU4q1Q2yotukIZEEt92QANtsukbTwk6L7I7LITo
VAPID_PRIVATE_KEY=OKWnQn0E_X2HGGAVFydaCJA_3_IWTZZIhmtDENJTUgo
VAPID_EMAIL=mailto:iz.karakarakarakan@gmail.com
