# Redis connection URL
REDIS_URL=

# Web Push VAPID Keys
VAPID_PUBLIC_KEY=BH5OwZMBM9P55jCf-14OfpwDhWfOw7wxirim8bzKlyGZaRD61hdtRVW6nIlURIzD9ZHXKWfsgdNH3Gzrx3MTgyw
VAPID_PRIVATE_KEY=Xiz1jQ_9n7iCw-VbjJjF4CPCdrMFszNj6Z1Ja6hXe58
VAPID_EMAIL=mailto:iz.karakarakarakan@gmail.com
